@charset "UTF-8";

body {
    background: rgb(102, 102, 218);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.644);

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

img#imagem {
    border-radius: 45%;
}

div {
    text-align: center;
    padding: 8px;
}